=begin
#Re:lation API

#https://developer.ingage.jp/

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0

=end

require 'cgi'

module RelationClient
  class MessageBoxApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # 登録
    # @param message_box_id [Integer] Parameter description in CommonMark or HTML.
    # @param [Hash] opts the optional parameters
    # @return [Customer]
    def message_box_id_customers_post(message_box_id, opts = {})
      data, _status_code, _headers = message_box_id_customers_post_with_http_info(message_box_id, opts)
      data
    end

    # 登録
    # @param message_box_id [Integer] Parameter description in CommonMark or HTML.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Customer, Integer, Hash)>] Customer data, response status code and response headers
    def message_box_id_customers_post_with_http_info(message_box_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessageBoxApi.message_box_id_customers_post ...'
      end
      # verify the required parameter 'message_box_id' is set
      if @api_client.config.client_side_validation && message_box_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_box_id' when calling MessageBoxApi.message_box_id_customers_post"
      end
      if @api_client.config.client_side_validation && message_box_id < 1
        fail ArgumentError, 'invalid value for "message_box_id" when calling MessageBoxApi.message_box_id_customers_post, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/{message_box_id}/customers'.sub('{' + 'message_box_id' + '}', CGI.escape(message_box_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Customer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"MessageBoxApi.message_box_id_customers_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessageBoxApi#message_box_id_customers_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 応答メモ作成
    # @param message_box_id [Integer] 受信箱ID(数字)
    # @param [Hash] opts the optional parameters
    # @option opts [RecordRequest] :record_request user to create
    # @return [RecordResponse]
    def message_box_id_records_post(message_box_id, opts = {})
      data, _status_code, _headers = message_box_id_records_post_with_http_info(message_box_id, opts)
      data
    end

    # 応答メモ作成
    # @param message_box_id [Integer] 受信箱ID(数字)
    # @param [Hash] opts the optional parameters
    # @option opts [RecordRequest] :record_request user to create
    # @return [Array<(RecordResponse, Integer, Hash)>] RecordResponse data, response status code and response headers
    def message_box_id_records_post_with_http_info(message_box_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessageBoxApi.message_box_id_records_post ...'
      end
      # verify the required parameter 'message_box_id' is set
      if @api_client.config.client_side_validation && message_box_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_box_id' when calling MessageBoxApi.message_box_id_records_post"
      end
      # resource path
      local_var_path = '/{message_box_id}/records'.sub('{' + 'message_box_id' + '}', CGI.escape(message_box_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'record_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'RecordResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"MessageBoxApi.message_box_id_records_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessageBoxApi#message_box_id_records_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 一覧取得
    # @param [Hash] opts the optional parameters
    # @return [Array<MessageBox>]
    def message_boxes_get(opts = {})
      data, _status_code, _headers = message_boxes_get_with_http_info(opts)
      data
    end

    # 一覧取得
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<MessageBox>, Integer, Hash)>] Array<MessageBox> data, response status code and response headers
    def message_boxes_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessageBoxApi.message_boxes_get ...'
      end
      # resource path
      local_var_path = '/message_boxes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<MessageBox>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"MessageBoxApi.message_boxes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessageBoxApi#message_boxes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
